<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
HR Managment system for health care employees. We care for the people.
<table>
<tr><th>Name</th><td>Staff</td></tr>
</table>
</div>

</body>
</html>
